
h1 {
    font-size: 30px;
    text-align: center
}
h2 {
    text-align: center;
    font-size: 20px;
    color: red
}

body {
    color: black;
    background-color:white;
    border-color: #73AD21; 
    background-image: url('Pictures/parchment.jpeg');background-size: cover; background-repeat: no-repeat; 
}


div {
    color: black;
   
}
p {
    text-align: center
}

image




img-container {
    font-size: large
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; border: 3px solid black;
    padding: 10px;
}
.right {
    float: right;
    width: 250px;
    border: 3px solid #73AD21;
    padding: 10px;
}


.left {
    float: left;
    width: 250px;
    border: 3px solid #73AD21;
    padding: 10px;
}