
h1 {
    font-size: 30px;
    text-align: center
}
h2 {
    text-align: center;
    font-size: 20px;
    color: black;
}

h3 {text-align:center;
font-size: 20px;
color: black;
margin-left:55px;
    margin-right:55px;
}
h4 {text-align:center;
font-size: 20px;
color: black;
margin-left:55px;
margin-right:55px;
}

body {
    color: black;
    background-color:white;
    border-color: #73AD21; 
    background-image: url('Pictures/parchment.jpeg');background-size: cover; background-repeat: no-repeat;
    border-style:hidden;
    border-width:thick;
}


div {
    color: black;
   
}
p {
    text-align: center;
    margin-left:55px;
    margin-right:55px;
}

image




img-container {
    font-size: large
}


.center {
    display: block;
   
    width: 250px;   border: 3px solid #73AD21;
    padding: 10px;
}
.right {
    float: right;
    width: 250px;
    border: 3px solid #73AD21;
    padding: 10px;
}


.left {
    float: left;
    width: 250px;
    border: 3px solid #73AD21;
    padding: 10px;
}